body {
  background-color: #fafafa;
  color: #333;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  font: 16px/1.75 'Helvetica Neue', Helvetica, Arial, sans-serif;
  align-items: center;
  text-align: left;
}

a {
  text-decoration: none;
}

a:link {
  color: red;
}

a:visited {
  color: #333;
}

.container {
  max-width: 720px;
  width: 100%;
  padding: 0 1em;
}

code {
  max-width: 720px;
  white-space: break-spaces;
}

p, p img {
  margin: 1em 0;
}

