<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="description" content="Humble internet abode" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="/styles/reset.css" rel="stylesheet" />
    <link href="/styles/main.css" rel="stylesheet" />
  </head>
  <body>
    <div class="container">
      <header>
        <h1><a href="/">lancewakelingnet</a></h1>
      </header>

      <article>
        <ol reversed>
          {{ .HTML }}
        </ol>
      </article>
    </div>
  </body>
</html>
